.input-password-container {
  position: relative;
}

.password-input {
  width: 100%;
}

.input-password-container > .--icon-only-btn {
  font-size: 1rem;
  opacity: 0.6;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
}

.auth-modal-btns-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-error-text {
  color: var(--RED-CLR);
  text-align: center;
}
