.quiz-heading {
  padding-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.question-and-footer-container {
  flex-grow: 1;
}

.quiz-aside {
  width: max(
    var(--QUIZ-ASIDE-RELATIVE-WIDTH),
    var(--QUIZ-ASIDE-ABSOLUTE-WIDTH)
  );
}

.current-score-container {
  text-transform: uppercase;
  text-align: center;
}

.score-quit-btn-container {
  margin-bottom: 1.5rem;
}

.current-score {
  font-size: 1.4rem;
}

.btn.quit-quiz-btn {
  background: var(--RED-CLR);
}

.trackers-container {
  flex-direction: column-reverse;
}
