.full-page-loader {
  animation: loader-spins 1.5s infinite;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--LOADER-BORDER-WIDTH) solid var(--ACCENT-CLR);
  border-top: var(--LOADER-BORDER-WIDTH) solid #00000033;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--LOADER-WIDTH);
  z-index: 1;
}

.in-full-page-loader {
  position: absolute;
}

@keyframes loader-spins {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.btn-loader {
  max-width: 4rem;
  max-height: 2rem;
}
