.page-header {
  align-items: center;
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  margin: 0 clamp(0.7rem, 1vw + 0.5rem, 1rem);
  padding: 1rem 0;
}

.page-content-body {
  flex-grow: 1;
  position: relative;
}

.search-bar-container {
  border: var(--BTN-INPUT-BORDER-WIDTH) solid;
  border-radius: var(--BORDER-RADIUS);
  display: flex;
}

.quizes-listing-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--QUIZ-CARD-MIN-WIDTH), var(--QUIZ-CARD-MAX-WIDTH))
  );
}

.bottom-text {
  margin: 1rem;
  text-align: center;
}

.search-bar {
  padding: 0 1rem;
  max-width: 15rem;
  width: max(8rem, 30vw);
}
